.button_area{
    display: flex;
    justify-content: center;
    margin: 35px;
}
.button{
    appearance: none;
    outline: 0;
    background-color: rgb(182, 182, 182);
    border: 0;
    padding:5px, 3px, 5px, 3px;
    margin:10px;
    color: rgb(58, 58, 58);
    border-radius: 3px;
    width: 35px;
    height:35px;
    cursor: pointer;
    font-size: 15px;
    
}
.counText{
    font-family: 'Roboto','Helvetica Neue',
}