
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.button_area{
    display: flex;
    justify-content: center;
    margin: 35px;
}
.button{
    appearance: none;
    outline: 0;
    background-color: rgb(182, 182, 182);
    border: 0;
    padding:5px, 3px, 5px, 3px;
    margin:10px;
    color: rgb(58, 58, 58);
    border-radius: 3px;
    width: 35px;
    height:35px;
    cursor: pointer;
    font-size: 15px;
   
}
.button:hover{
    scale: 1.1;
    background-color: rgb(105, 104, 104);
}
.counText{
    margin: 10px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px; 
    align-content: center;
}