
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.itemDetail{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px;
}

.itemDetailContent{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    
}
.itemDetailContent:hover{
    box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.555);
}
.itemDetail_title{
    font-size: 55px;
    text-decoration: none;
    color: rgb(8, 0, 117);
    padding-bottom: 5px;
    font-family: 'Dongle', sans-serif;
    justify-content: center;
    display: flex;
    border-bottom: rgb(255, 255, 255);
    border-width: 2px;
    border-bottom-style:groove;
}
.itemDetail_price{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 1rem;
    font-family: 'Dongle', sans-serif;
    border-bottom: rgb(255, 255, 255);
    border-width: 2px;
    border-bottom-style:groove;
    justify-content: center;
    display: flex;
}
.itemDetail_price:hover{
    scale: 2%;
}
.itemDetail_img{
    width: 100%;
}
.itemDetail_desc{
    width: 70%;
    font-size: 27px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 2rem;
    font-family: 'Dongle', sans-serif;
}