.modal{
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

modal_open{
    display: flex;
}
.modal_container{
    position: relative;
    min-width: 400px;
    max-width: 500px;
    background-color: white;
}
.modal_close{
    position: absolute;
    top: 1rem;
    right: 1rem;

}